# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
    
    - name: Configure GitHub Pages
      uses: actions/configure-pages@v5.0.0
      with:
        # Optional static site generator to attempt to configure: "nuxt", "next", "gatsby", or "sveltekit"
        static_site_generator: # optional
        # Optional file path to static site generator configuration file
        generator_config_file: # optional
        # GitHub token
        token: # default is ${{ github.token }}
        # Try to enable Pages for the repository if it is not already enabled. This option requires a token other than `GITHUB_TOKEN` to be provided. In the context of a Personal Access Token, the `repo` scope or Pages write permission is required. In the context of a GitHub App, the `administration:write` and `pages:write` permissions are required.
        enablement: # optional, default is false
          
